<div class="container">
  <h1>Welcome to MavenYelp</h1>
  <h2>What would you like to explore?</h2>
  <%= link_to 'Restaurants', restaurants_path, class: 'waves-effect waves-light btn-large' %>
  <%= link_to 'Doctors', doctors_path, class: 'doctors-index-btn waves-effect waves-light btn-large' %>
  <h6>* Any resemblance between the app you see here and any other app is purely coincidental...I swear.</h6>
</div>
